body
  font-family: $font-base
  font-size: $font-size-base
  color: $color-text-base
  background-color: $bg-body
  height: 100%
a
  text-decoration: none
textarea
  resize: none
input[placeholder]
  &:focus::-webkit-input-placeholder
    color: transparent
  &:focus::-moz-placeholder
    color: transparent
  &:focus:-moz-placeholder
    color: transparent
  &:focus:-ms-input-placeholder
    color: transparent

.main
  max-width: 1200px
  margin: 0px auto

//Main_title
.main_title
  font-size: 20px
  line-height: 20px
  font-family: $sans-bold
  text-transform: uppercase
  border-bottom: 1px solid $main-color-theme
  margin-bottom: 30px
  +clearfix
.dm-main_title-span
  display: inline-block
  position: relative
  &::before
    content: ''
    display: block
    position: absolute
    left: 0px
    bottom: -1px
    width: 100%
    border-bottom: 1px solid $bg-body

//Main_card
.main_card-wrap
  +flexbox
  +flex-wrap(wrap)
  +justify-content(space-between)
.main_card
  display: block
  max-width: 340px
  min-width: 300px
  width: 100%
  text-align: center
  color: $color-text-base
  background-color: #f9f5e5
  opacity: 1
  margin: 0px 0px 60px 0px
  +box-shadow(0px 0px 3px 0px rgba(51,51,51,0.7))
  +transition(0.15s linear 0.05s)
  &:hover
    opacity: 0.75
    +box-shadow(0px 0px 10px 0px rgba(51,51,51,0.7))
.main_card__image
  height: 267px
  img
    display: block
    width: 100%
    height: 100%
.main_card__title
  padding: 18px 5px 0px
  font-family: $sans-bold
  font-size: 18px
  text-decoration: underline
.main_card__text
  padding: 5px
.main_card__price
  padding: 5px 5px 25px

//Btn
.btn
  display: inline-block
  text-align: center
  color: #fff
  background-color: $main-color-theme
  line-height: 36px
  width: 175px
  border: 3px solid $main-color-theme
  font-family: $sans-bold
  +border-radius(5px)
  &:hover
    background-color: #fff
    color: #333

//Input
.input
  display: inline-block
  line-height: 22px
  background-color: #fff
  box-sizing: border-box
  padding: 10px
  width: 240px
  +border-radius(5px)
  &:focus
    line-height: 16px
    border: 3px solid $main-color-theme

//Wood_btn
.wood_btn
  display: inline-block
  width: 100%
  max-width: 335px
  padding: 20px 0px
  border: 3px solid #6c2f05
  text-align: center
  font-size: 20px
  line-height: 20px
  color: #fff
  text-transform: uppercase
  font-family: $sans-bold
  background: url(../images/bg_btn.png) no-repeat center transparent
  background-size: cover
  +border-radius(10px)
  &:hover
    background-image: none
    background-color: $main-color-theme
  &:focus
    background-image: none
    background-color: $main-color-theme
    border: 3px solid #fff

//Btn-up
.btn-up
  position: fixed
  bottom: 5%
  right: 5%
  width: 114px
  height: 79px
  background: url("../images/btn_up.png") no-repeat
  background-position: 0px 0px
  cursor: pointer
  &:hover
    background-position: 0px -79px

//Modal
#modal_form
  width: 300px 
  height: 180px
  border-radius: 5px
  border: 3px #6c2f05 solid
  background: $bg-body
  position: fixed
  top: 30%
  left: 50%
  margin-top: -90px
  margin-left: -150px
  display: none
  opacity: 0
  z-index: 5
  padding: 20px 10px
#modal_form #modal_close
  width: 21px;
  height: 21px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  display: block;
#overlay
  z-index: 3
  position: fixed
  background-color: #000
  opacity: 0.8
  -moz-opacity: 0.8
  filter: alpha(opacity=80)
  width: 100% 
  height: 100%
  top: 0
  left: 0
  cursor: pointer
  display: none
.modal_form-block
  text-align: center
.modal_form-block__title
  font-size: 18px
  font-family: $sans-bold
  margin-bottom: 20px
  color: $main-color-theme
.modal_form-block__input
  margin-bottom: 10px
.modal_form-input
  padding: 10px
  background-color: #fff
  box-sizing: border-box
  border: 1px solid #d7d2c3

//Header-top
.header-top-wrap
  +flexbox
  +flex-wrap(wrap)
  +justify-content(space-between)
.header-top-logo
  height: 100px
  +flexbox
  +flex-wrap(nowrap)
  +align-items(center)
.header-top-logo__image
  margin: 0px 15px 0px 0px
  img
    display: block
.header-top-logo__text
  font-family: $helvetica
  font-size: 30px
  line-height: 32px
  color: #000
  text-transform: uppercase
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 1)
.header-top-info
  text-align: right
  height: 100px
  font-family: $sans-bold
  +flexbox
  +flex-direction(column)
  +justify-content(center)
.header-top-info__text
  font-size: 16px
  line-height: 18px
.header-top-info__phone
  margin-top: 10px
  font-size: 30px
.header-top-phone
  display: inline-block
  margin: 0px 0px 0px 60px
  position: relative
.header-top-phone--first::before
  content: url("../images/ico_mobile.png")
  display: block
  position: absolute
  bottom: -5px
  left: -30px
.header-top-phone--second::before
  content: url("../images/ico_phone.png")
  display: block
  position: absolute
  bottom: -3px
  left: -30px

//Header-menu
.header-menu
  background: url("../images/bg_header.png") no-repeat center
  -webkit-background-size: cover
  background-size: cover
.header-menu-nav
  ul
    +clearfix
    li
      float: left
      width: 12.5%
      border-left: 1px solid #b0b0ae
      box-sizing: border-box
      &:last-child
        border-right: 1px solid #b0b0ae
.header-menu-nav__link
  height: 90px
  color: #fff
  text-transform: uppercase
  text-align: center
  font-family: $helvetica
  background-color: transparent
  +transition(0.1s linear)
  +flexbox
  +align-items(center)
  +justify-content(center)
  &:hover
    background-color: rgba(57,169,37,0.8)

//Houses
.dm-houses
  padding: 30px 0px
.dm-houses-wrap
  +flexbox
  +flex-wrap(wrap)
  +justify-content(space-between)
  +align-items(flex-end)
.dm-houses-item
  display: block
  opacity: 1
  +transition(0.1s linear)
  &:hover
    opacity: 0.7
.dm-houses__image
  margin-bottom: 10px
.dm-houses__text
  text-align: center
  font-size: 18px
  font-family: $sans-bold
  color: $color-text-base

//Slider
.dm-slider
  position: relative
.dm-slider-main__slide
  img
    display: block
    width: 100%
    height: 100%
.dm-slider-layer
  position: absolute
  left: 0px
  top: 0px
  width: 100%
  height: 100%
  .main
    height: 100%
.dm-slider-controls-wrap
  height: 100%
  width: 100%
  position: relative
.dm-slider-controls
  width: 86px
  height: 86px
  background: url("../images/controls.png") no-repeat
  position: absolute
  top: 50%
  margin-top: -43px
  cursor: pointer
.dm-slider-controls--left
  background-position: 0px 0px
  left: 0px
.dm-slider-controls--right
  background-position: -86px 0px
  right: 0px

//Our_projects
.dm-our_projects
  padding: 60px 0px 0px
.dm-our_projects-link
  display: inline-block
  float: right
  font-size: 18px
  line-height: 18px
  color: $main-color-theme
  text-transform: lowercase
  &:hover
    color: $color-text-base

//Button
.dm-button
  padding: 15px 0px
  background: url("../images/bg_button.png") no-repeat center
  background-size: cover
.dm-button-wrap
  text-align: center

//Advantages
.dm-advantages
  padding: 60px 0px 0px
.dm-advantages-wrap
  +flexbox
  +flex-wrap(wrap)
  +justify-content(space-between)
.dm-advantages-item
  position: relative
  width: 316px
  height: 316px
  background: url(../images/privilege_circle.png) no-repeat center
  background-size: cover
  text-align: center
  margin: 0px 0px 60px
  +border-radius(50%)
  +flexbox
  +flex-direction(column)
  +justify-content(center)
  +align-items(center)
  &:hover
    .dm-advantages-item__hover
      opacity: 1
    .dm-advantages-item__image::before
      opacity: 0
    .dm-advantages-item__title
      opacity: 0
    .dm-advantages-item__text
      opacity: 0
.dm-advantages-item__image
  position: relative
  margin-bottom: 20px
  padding-left: 15px
.dm-advantages-item__title
  font-size: 18px
  line-height: 18px
  font-family: $sans-bold
  margin-bottom: 5px
  color: #000
  +transition(0.1s linear)
.dm-advantages-item__text
  width: 60%
  font-family: $sans-bold
  font-size: 14px
  line-height: 16px
  +transition(0.1s linear)
.dm-advantages-item__hover
  position: absolute
  opacity: 0
  left: 0px
  top: 0px
  width: 100%
  height: 100%
  background-color: rgba(51,51,51,0.6)
  color: #fff
  font-family: $sans-bold
  +border-radius(50%)
  +transition(0.2s linear)
  +flexbox
  +justify-content(center)
  +align-items(center)
  p
    width: 80%
.dm-advantages-item-image--price::before
  content: url(../images/privilege_image_1.png)
.dm-advantages-item-image--exp::before
  content: url(../images/privilege_image_2.png)
.dm-advantages-item-image--quality::before
  content: url(../images/privilege_image_3.png)
.dm-advantages-item-image--service::before
  content: url(../images/privilege_image_4.png)
.dm-advantages-item-image--time::before
  content: url(../images/privilege_image_5.png)
.dm-advantages-item-image--trust::before
  content: url(../images/privilege_image_6.png)
.dm-advantages-item__image::before
  position: absolute
  display: block
  left: -65px
  bottom: -20px
  +transition(0.1s linear)

//Seo
.dm-seo
  padding: 30px 0px 50px
.dm-seo__text
  h2
    font-family: $sans-bold
    margin-bottom: 15px
    font-size: 16px
    line-height: 16px
  p
    margin-bottom: 10px
    text-align: justify

//Footer
.footer
  padding: 15px 0px
  background: url(../images/bg_footer.png) no-repeat center
  background-size: cover
  border-top: 8px solid #865333
.footer-nav
  +flexbox
  +flex-wrap(wrap)
.footer-nav__item
  +flex(1 1 0%)
.footer-nav__title
  height: 32px
  margin-bottom: 10px
  max-width: 86%
  .footer-nav-title
    display: inline-block
    color: $color-text-base
    font-size: 16px
    line-height: 16px
    font-family: $helvetica
    &:hover
      color: #000
      font-weight: 700
.footer-nav-list__link
  display: inline-block
  margin-bottom: 15px
  text-decoration: underline
  color: $color-text-base
  &:hover
    text-decoration: none
.footer-file
  display: inline-block
  color: $color-text-base
  text-decoration: underline
  position: relative
  margin: 35% 0px 0px
  &:hover
    text-decoration: none
  &::before
    content: url("../images/file.png")
    position: absolute
    left: 50%
    margin-left: -20px
    top: -40px
.footer-copy
  margin-top: 50px
  text-align: center

//Category page
.dm-filter
  padding: 40px 0px
  font-family: $sans-bold
  font-size: 18px
  input[type=radio]
    display: none
.dm-filter__title
  font-size: 18px
  line-height: 20px
  margin-bottom: 15px
.dm-filter-wrap
  background-color: #fff
  padding: 10px 20px
.dm-filter-all__caption
  margin-bottom: 5px
.dm-filter-filter_block
  +flexbox
  +flex-wrap(wrap)
.dm-filter-filter_block__item
  +flex(1 1 0%)
.dm-filter-input_block
  +clearfix
  li
    float: left
    width: 25%
  input[type=radio]:checked + .dm-filter-input_block__label
    background-color: $main-color-theme
    color: #fff
.dm-filter-input_block__label
  display: inline-block
  line-height: 36px
  width: 100%
  text-align: center
  cursor: pointer
  +transition(0.1s linear)
  &:hover
    background-color: $main-color-theme
    color: #fff
.dm-filter-price
  +flexbox
  +align-items(center)
  input[type=radio]:checked + .dm-filter-price__label
    border: 1px solid $main-color-theme
.dm-filter-price__label
  display: inline-block
  margin: 0px 10px
  width: 38px
  height: 38px
  border: 1px solid #cacaca
  background-color: $bg-body
  background-position: center center
  background-repeat: no-repeat
  cursor: pointer
  +border-radius(50%)
.dm-filter-price-label--down
  background-image: url(../images/filter_down.png)
.dm-filter-price-label--up
  background-image: url(../images/filter_up.png)

//dm-button-category
.dm-button-category
  padding: 0px 0px 60px

//Banner
.dm-banner-wrap
  padding: 0px 0px 30px
  img
    width: 100%
    height: 100%

//Question
.dm-question
  padding: 60px 0px
  background: url("../images/bg_question.png") no-repeat center
  background-size: cover
  .main
    max-width: 840px
.dm-question__title
  font-size: 20px
  text-align: center
  text-transform: uppercase
  color: #fff
  margin-bottom: 20px
  &:nth-child(2)
    margin-bottom: 50px
.dm-question-block
  +flexbox
  +flex-wrap(wrap)
.dm-question-block__item
  text-align: center
  +flex(1 1 0%)

//Bread-crumb
.dm-bread-crumb
  padding: 30px 0px
.dm-bread-crumb-block
  font-size: 18px
  color: $main-color-theme
.dm-bread-crumb__link, .dm-bread-crumb__arrows
  color: #918f8f
  margin-right: 5px

//Card_item
.dm-card_item-wrap
  +clearfix
.dm-card_item-wrap__slider
  float: left
  width: 55%
  box-sizing: border-box
  padding-right: 20px  
.dm-card_item-wrap__info
  float: right
  width: 45%
.dm-card_item-slider
  img
    display: block
    width: 100%
    height: 100%
  .lslide
    border: 3px solid #fff
    box-sizing: border-box
  + .lSAction
    a
      width: 45px
      height: 45px
      margin-top: -22px
      opacity: 1
      background-image: url('../images/controls_card.png')
    .lSNext
      background-position: -45px 0px
.dm-card_item-wrap__slider .lSPager.lSGallery
  overflow: visible
  margin-bottom: 6px
  li
    border: 3px solid #fff
    box-sizing: border-box
    overflow: visible
    +box-shadow(0px 0px 10px 0px rgba(51,51,51,0.7))
    &.active
      border: 3px solid $main-color-theme
      position: relative
      &::before
        content: ''
        display: block
        border-style: solid
        border-width: 0 12px 10px 12px
        border-color: transparent transparent $main-color-theme transparent
        position: absolute
        left: 50%
        margin-left: -12px
        top: -10px
.dm-card_item-table
  margin-bottom: 20px
.dm-card_item-table__row
  border: 1px solid #d5d4d2
  border-bottom: none
  height: 80px
  padding: 0px 20px 0px 50px
  font-family: $sans-bold
  background-color: #faf4e1
  +flexbox
  +align-items(center)
  &:last-child
    border-bottom: 1px solid #d5d4d2
  &:nth-child(even)
    background-color: #fef5d5
.dm-card_item-btns
  text-align: center
  .wood_btn
    max-width: 490px
    +box-shadow(0px 2px 5px 1px rgba(51,51,51,0.7))
    &:first-child
      background-color: $main-color-theme
      background-image: none
      margin-bottom: 20px
      border-color: $main-color-theme
      &:hover
        background-color: #fff
        color: #333
.dm-card_item-text
  margin: 20px 0px
  p
    text-align: justify
    margin-bottom: 10px

//Interest
.dm-interest
  padding: 0px 0px 30px
.dm-interest-wrap
  +flexbox
  +flex-wrap(wrap)
  +justify-content(space-between)
.dm-interest-item
  border: 3px solid #fff
  +transition(0.1s linear)
  +box-shadow(0px 0px 10px 0px rgba(51,51,51,0.7))
  img
    display: block
    width: 100%
    height: 100%
  &:hover
    opacity: 0.8

//Technology page
.dm-technology-block
  +flexbox
  +flex-wrap(wrap)
  +justify-content(space-between)
.dm-technology-block__item
  width: 25%
.dm-technology-item
  text-align: center
  margin: 0px 20px 50px
  &:hover
    .dm-technology-item__image
      opacity: 0.7
.dm-technology-item__image
  opacity: 1
  +transition(0.1s linear)
.dm-technology-item__text
  font-size: 18px
  line-height: 20px
  font-family: $sans-bold
  color: $color-text-base
.dm-technology-text
  text-align: justify
  margin-bottom: 50px

//Technology_card
.dm-technology_card-block
  border-bottom: 1px solid #d6d6d4
  margin-bottom: 15px
  +flexbox
  +flex-wrap(wrap)
  &:last-child
    border-bottom: none
.dm-technology_card-block__image
  +flex(1 1 0%)
.dm-technology_card-block__info
  +flex(2 1 0%)
.dm-technology_card-image
  margin-right: 20px
  border: 6px solid #fff
  +box-shadow(0px 2px 5px 0px rgba(0,0,0,0.76))
  img
    width: 100%
    height: 100%
    display: block
.dm-technology_card-info__title
  font-size: 18px
  line-height: 20px
  font-family: $sans-bold
  margin-bottom: 20px
.dm-technology_card-info__sub-title
  font-family: $sans-bold
  margin-bottom: 15px
.dm-technology_card-info__text
  text-align: justify
  margin-bottom: 15px

//Gallery
.dm-gallery
  margin: 50px 0px
.dm-gallery-block
  +flexbox
  +flex-wrap(wrap)
  +justify-content(space-between)
.dm-gallery-block__image
  margin-bottom: 30px
  img
    display: block
.dm-gallery-link--link
  font-family: $sans-bold
  color: $main-color-theme
  text-decoration: underline
  &:hover
    text-decoration: none

//Calculator
.dm-calculator
  padding: 30px 0px
.dm-calculator__houses
  margin-bottom: 70px
  +flexbox
  +flex-wrap(wrap)
  +justify-content(center)
.dm-calculator-houses
  margin: 0px 30px
  input
    display: none
.dm-calculator__block
  margin-bottom: 30px
.dm-calculator-houses-label
  text-align: center
  cursor: pointer
  +flexbox
  +flex-direction(column)
  +justify-content(center)
  +align-items(center)
.dm-calculator-houses-label__image
  display: block
  width: 93px
  height: 93px
  margin-bottom: 5px
  background: url("../images/calculator-sprite.png")
.dm-calculator-houses--image_1
  background-position: 0px 0px
  &:hover
    background-position: 0px -93px
.dm-calculator-houses--image_2
  background-position: -93px 0px
  &:hover
    background-position: -93px -93px
.dm-calculator-houses--image_3
  background-position: -186px 0px
  &:hover
    background-position: -186px -93px
.dm-calculator-houses--radio-1:checked
  + .dm-calculator-houses-label .dm-calculator-houses--image_1
    background-position: 0px -93px
.dm-calculator-houses--radio-2:checked
  + .dm-calculator-houses-label .dm-calculator-houses--image_2
    background-position: -93px -93px
.dm-calculator-houses--radio-3:checked
  + .dm-calculator-houses-label .dm-calculator-houses--image_3
    background-position: -186px -93px
.dm-calculator-houses-label__text
  font-family: $sans-bold

.dm-calculator-block
  +flexbox
  +flex-direction(column)
.dm-calculator-block-row
  margin-bottom: 20px
  +flexbox
  +flex-wrap(wrap)
.dm-calculator-row__item
  margin: 0px 10px
  +flex(1 1 0%)
.dm-calculator-name
  text-align: right
  font-family: $sans-bold
.dm-calculator-input, .dm-calculator-select, .dm-calculator-textarea
  width: 210px
  padding: 5px 10px
  border: 1px solid #aeb1b1
  background-color: #fff
  box-sizing: border-box
  +border-radius(5px)
.dm-calculator-radio
  margin-right: 20px
.dm-calculator-input_file
  display: none
.dm-calculator-file
  display: inline-block
  width: 30px
  height: 30px
  background: url("../images/calculator-sprite-file.png")
  cursor: pointer
  margin-right: 20px

.dm-calculator__btn
  text-align: center
  margin-bottom: 20px
  .btn
    width: 180px
    height: 50px
    margin: 0px 20px
    text-transform: uppercase
.dm-calculator-seo
  text-align: justify

//About
.dm-slider--about
  padding-top: 50px
.dm-cilrcles
  padding: 60px 0px
.dm-cilrcles-block
  +flexbox
  +flex-wrap(wrap)
  +justify-content(space-around)
.dm-cilrcles-circle
  position: relative
  text-align: center
  &:hover
    .dm-cilrcles-circle-image
      +transform(rotate(360deg))
.dm-cilrcles-layer
  position: absolute
  left: 0px
  top: 0px
  width: 100%
  height: 100%
  padding-top: 28%
  +flexbox
  +flex-direction(column)
  +align-items(center)
.dm-cilrcles-layer__number
  font-size: 50px
  line-height: 54px
.dm-cilrcles-layer__text
  width: 73%
  line-height: 1
.dm-cilrcles-circle-image
  +transition(0.5s linear)

//Reviews
.dm-reviews-block
  padding-bottom: 30px
  margin-bottom: 30px
  border-bottom: 1px solid #d6d6d4
  +flexbox
  +flex-wrap(wrap)
.dm-reviews-block__image
  +flex(1 1 0%)
  img
    display: block
.dm-reviews-block__info
  margin-left: 20px
  +flex(7 1 0%)
.dm-reviews-info__name
  font-weight: 700
  font-size: 18px
  margin-bottom: 10px
.dm-reviews-info__date
  color: #b0ada6
  margin-bottom: 10px
.dm-reviews-info__text
  text-align: justify
  font-weight: 700
  margin-bottom: 30px
.dm-reviews-info__photo
  +flexbox
  +flex-wrap(wrap)
  +justify-content(space-between)
.dm-pager
  margin-bottom: 30px
.dm-pager__link
  color: $color-text-base
  font-weight: 700
  margin-right: 10px
  &:hover
    color: $main-color-theme
.dm-pager-link--active
  color: $main-color-theme

//Materials
.dm-materials-block
  padding: 15px 40px 30px 15px
  border: 1px solid #d7d2c3
  background-color: #ffffff
  margin-bottom: 20px
  +flexbox
  +flex-wrap(wrap)
.dm-materials-block__image
  +flex(1 1 0%)
  img
    display: block
    width: 100%
.dm-materials-block__info
  margin-left: 30px
  +flex(2 1 0%)
.dm-materials-info__title
  font-size: 18px
  font-family: $sans-bold
  margin-bottom: 15px
.dm-materials-info__text
  text-align: justify
  p
    margin-bottom: 10px
  ul
    margin-left: 20px
.dm-materials-info__btn
  text-align: right

//Shares
.dm-shares-block
  padding: 15px 40px 40px
  background-color: #fff
  margin-bottom: 30px
.dm-shares-block__title
  font-size: 18px
  font-family: $sans-bold
  margin-bottom: 15px
.dm-shares-block__text
  text-align: justify
  margin-bottom: 40px
.dm-shares-block__image
  +flexbox
  +flex-wrap(wrap)
  +justify-content(space-between)
  img
    display: block
    border: 3px solid #6c2f05
    +border-radius(5px)

//Contacts
.dm-contacts
  margin-bottom: 30px
.dm-contacts-wrap
  margin-bottom: 10px
.dm-contacts-block
  padding: 20px 0px
  border-bottom: 1px solid #d6d6d4
  +flexbox
  +flex-wrap(wrap)
  +align-items(center)
  &:last-child
    border-bottom: none
.dm-contacts-block__text
  margin-left: 40px
  line-height: 1
.dm-contacts-map
  img
    display: block
    width: 100%

//Servies
.dm-services-wrap
  margin-bottom: 30px
.dm-services-block__parametr
  padding: 15px 20px
  background-color: #ffffff
  border: 1px solid #d5d4d2
  cursor: pointer
.dm-services-block:nth-child(even) .dm-services-block__parametr
  background-color: #ece8d9
.dm-services-parametr
  position: relative
  &::after
    content: ''
    display: block
    border-style: solid
    border-width: 6px 6px 0 6px
    border-color: #333333 transparent transparent transparent
    position: absolute
    top: 50%
    margin-top: -1px
    right: -20px
.dm-services-hidden
  box-sizing: border-box
  padding: 15px
  background-color: #fff
  h2
    font-size: 18px
    font-family: $sans-bold
    margin-bottom: 15px
    color: $main-color-theme
.dm-services-hidden__text
  margin-bottom: 15px
  text-align: justify
.dm-services-hidden__image
  margin-top: 15px
  +flexbox
  +flex-wrap(wrap)
  +justify-content(space-between)
.dm-services-hidden-image__img
  margin-bottom: 10px
  img
    display: block
.dm-services-hidden-image__title
  font-size: 18px
  font-family: $sans-bold
  text-align: center
